@model CarsModel
<h2>Все драндулеты</h2>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
    foreach (var car in Model.Cars)
    {
    <div class="col-lg-4">
        <img class="img-thumbnail" src="@car.Image" alt="@car.Name"/>
        <h2>Модель: @car.Name</h2>
        <p>Цена: @car.Price</p>
        <p>
            <a class="btn btn-warning" asp-controller="Cars" asp-action="GetById" asp-route-id="@car.Id">Подробнее</a>
        </p>
    </div>
    }
    }
</div>