@model RegisterModel
@using LibraryWebApplication.Enums

<h2 class="text-center">Регистрация</h2>

<div class="row form-register w-100 m-auto">
    <div class="col-md-12">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]"/>

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-floating">
                    <input type="email" class="form-control" asp-for="Email">
                    <label asp-for="Email">@Html.DisplayNameFor(m => m.Email)</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" asp-for="Password" class="form-control"/>
                    <label asp-for="Password">@Html.DisplayNameFor(m => m.Password)</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" asp-for="ConfirmPassword" class="form-control"/>
                    <label asp-for="ConfirmPassword">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <select class="form-select" asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()">
                        <option selected value="" disabled>Выберите роль</option>
                    </select>
                    <label asp-for="Role">@Html.DisplayNameFor(m => m.Role)</label>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-floating mt-2">
                    <input type="date" asp-for="Birthday" class="form-control"/>
                    <label asp-for="Birthday">@Html.DisplayNameFor(m => m.Birthday)</label>
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Регистрация</button>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-secondary w-100 py-2 mt-2">Уже зарегистрированы? Войти</a>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .form-register{
        max-width: 330px;
    }
</style>